<h2>Add a Dish</h2>


<form action="/add-food" method="POST" enctype="multipart/form-data">

  <label>Name:</label>
  <input type="text" name="name">

  <label>Description:</label>
  <input type="text" name="description">

  <label>picture:</label>
  <input type="file" name="image">

  <label>Location:</label>
  <div class="input-field">
    <select name="location">
      {{#each locations}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <br>
  Dont see your location?
  <a href="/add-location">Add a Location</a>
  <button class="waves-effect waves-light btn">Submit</button>
</form>