<div class="row">
  <div class="col m2"></div>
  <div class="col s12 m8">
    <h2>Add a Location</h2>
    <form action="/add-location" method="POST" enctype="multipart/form-data">

      <label>Name:</label>
      <input type="text" name="name">

      <label>Street Address:</label>
      <input type="text" name="streetAddress">

      <label>City:</label>
      <input type="text" name="city">
      <label>State:</label>
      <input type="text" name="state">
      <label>Zip Code:</label>
      <input type="number" name="zipCode">

      <div class="file-field input-field">
        <div class="btn grey">
          <span>Image</span><i class="material-icons right">add_a_photo</i>
          <input type="file" name="image">
        </div>
        <div class="file-path-wrapper">
          <input name="image" class="file-path validate" type="text">
        </div>
      </div>

      <button class="waves-effect waves-light btn btn-large">Submit</button>
    </form>
  </div>
</div>