body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00b7ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  height: 60px;
  width: 100%;
  top: 0;
}
.navbar div {
  margin: 0 20px;
}
.body-content {
  padding: 20px;
  min-height: 90vh;
}
img.user-pic {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}
img {
  max-width: -webkit-fill-available;
}

.container {
  width: 90%;
}

.center-column {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer-copyright a {
  margin: 0 0.5rem;
  font-size: 20px;
}
.nav-wrapper li a i.large {
  font-size: 35px;
}
