<h2>Login</h2>




<form action="/login" method="POST">

  <label>Your Username</label>
  <input type="text" name="username">


  <label>Password</label>
  <input type="text" name="password">


  <button class="btn waves-effect waves-light">LOG IN</button>
</form>




<br>
<br>
<br>
<br>
{{!-- <a href="/auth/google">Log In With Google</a> --}}