<div class="row">
  <div class="col m2"></div>
  <div class="col s12 m8">
    <h2>Login</h2>

    <form action="/login" method="POST" id="logi-form">
      <label>Your Username</label>
      <input type="text" name="username">

      <label>Password</label>
      <input type="password" name="password">

      <input type="hidden" value="ee" name="latitude" id="latitude">
      <input type="hidden" value="rr" name="longitude" id="longitude">

      <button class="btn waves-effect waves-light btn-large" id="login-btn">Log in <i
          class="material-icons right">account_box</i></button>
    </form>
  </div>
</div>

{{!-- <button id="try">Try It</button> --}}

{{!-- <div id="mapholder"></div> --}}

<script src="/javascripts/geolocation.js"></script>