<div class="row">
  <div class="col s12">
    <form action="/profile/edit" method="POST" enctype="multipart/form-data">
      <div class="col s12 m6">
        <div class="col s3"></div>
        <div class="col s6">
          <p> Current Picture:</p>
          <img src="{{user.pic}}" class="circle responsive-img user-pic">
          <div class="file-field input-field">
            <div class="btn grey">
              <span>Image</span>
              <input type="file" name="image">
            </div>
            <div class="file-path-wrapper">
              <input name="image" class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="input-field">
          <input class="has-character-counter" type="text" data-length="10" maxlength="10" name="username"
            value="{{user.username}}">
        </div> <input name="email" type="text" value="{{user.email}}">
        <input name="password" type="password">
      </div>
      <div class="col s12 center-align">
        <button class="waves-effect waves-light btn">Save</button>
      </div>
    </form>
  </div>
</div>