<h2>Sign up</h2>


<form action="/signup" method="POST">

  <label>Pick A Username</label>
  <input type="text" name="username">


  <label>Password</label>
  <input type="text" name="password">


  <label>Email</label>
  <input type="email" name="email">


  <button class="btn waves-effect waves-light">Submit<i class="material-icons right">send</i></button>
</form>



<br>
<br>
<br>
<br>
{{!-- <a href="/auth/google">Sign Up With Google</a> --}}